<nav role="navigation" id="js-menu" class="sliding-menu-content">
  <h5>{{ site.title }}</h5>
  <ul class="menu-item">
    <!-- {% for link in site.data.navigation %}<li>
      <a href="{{ site.url }}{{ link.url }}">
        {% if link.image %}<img src="{{ site.url }}/images/{{ link.image }}" alt="teaser" class="teaser">{% endif %}
        {% if link.title == "Tech" or link.title == "English" or link.title == "Singing" or link.title == "About" %}
        <div class="title">{{ link.title }}</div>
        {% endif %}
        {% if link.excerpt %}<p class="excerpt">{{ link.excerpt }}</p>{% endif %}
      </a>
    </li>{% endfor %} -->

    {% for link in site.data.navigation %}
      {% if link.title == "Tech" or link.title == "English" or link.title == "Singing" or link.title == "About" %}
      <a href="{{ site.url }}{{ link.url }}">
        <div class="title">{{ link.title }}</div>
        {% if link.title == "Tech" %}
        <li>
          {% for category in site.categories %}
            {% unless category contains "music" %}
            {% unless category contains "web_dev" %}
            <a href="{{ site.url }}/{{ category | first }}" class="excerpt" name="{{ category | first }}">{{ category | first }} ({{ category[1].size }})</a>
            {% endunless %}
            {% endunless %}
          {% endfor %}
        </li>
        {% else %}
          <li>
            {% if link.excerpt %}<p class="excerpt">{{ link.excerpt }}</p>{% endif %}
          </li>
        {% endif %}
      </a>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
<button type="button" id="js-menu-trigger" class="sliding-menu-button lines-button x2" role="button" aria-label="Toggle Navigation">
  <span class="nav-lines"></span>
</button>

<div id="js-menu-screen" class="menu-screen"></div>
