<ul class="menu-item">
	<li class="home"><a href="/">{{ site.title }}</a></li>
	{% for link in site.data.navigation %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
		{% if link.title == "Tech" or link.title == "English" or link.title == "Singing" or link.title == "About" %}
    	<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		{% endif %}
  {% endfor %}
</ul>
