<script>
  if ("serviceWorker" in navigator) {
    window.addEventListener("load", function() {
      navigator.serviceWorker
        .register("/sw.js")
      // var originDomain = window.location.origin;
      // var flag = /io\/$/i.test(location.href);

      // if (!flag) {
      //   navigator.serviceWorker.register(originDomain + '/sw.js').then(function(swReg) {
      //     console.log('Service Worker is registered', swReg);

      //     swRegistration = swReg;
      //     initialiseUI();
      //   }).catch(function(err) {
      //     console.log('ServiceWorker registration failed: ', err);
      //   });
      // }
    });
  }
</script>
