<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      var originDomain = window.location.origin;
      var flag = window.location.href.split("//");

      if (window.location.href.split("/")[2]; != window.location.host) {
        navigator.serviceWorker.register(originDomain + '/sw.js').then(function(swReg) {
          console.log('Service Worker is registered', swReg);

          swRegistration = swReg;
          initialiseUI();
        }).catch(function(err) {
          console.log('ServiceWorker registration failed: ', err);
        });
      }
    });
  }
</script>
